<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>

<h1>My Groups</h1>
<%# current_user.is_a?(Teacher)  %>
<% if teacher_signed_in? %>
  <%= link_to 'New Group', new_group_path %>
<% end %>
<ul>
  <% @groups.each do |group| %>
    <li><%= link_to group.name, group %></li>
  <% end %>
</ul>

