<h1>Sujects#show</h1>
<p>Find me in app/views/sujects/show.html.erb</p>

<h1><%= @subject.name %></h1>

<h3>Teachers</h3>
<ul>
  <% @subject.teachers.each do |teacher| %>
  <li>
    <% if teacher.id == @subject.head_teacher.id %>
    <p>Head Teacher</p>
    <% end %>
    <%= teacher.full_name %>
  </li>
  <% end %>
</ul>

<% if current_teacher.id == @subject.head_teacher.id %>
<%= link_to "Edit" , edit_subject_path %>
<% end %>
<%= link_to 'Back', subjects_path %>
