<!DOCTYPE html>
<html>
<head>
  <title>Login Page</title>
</head>
<body>
<div class="login-page">
  <h1><%= t('login_page.welcome') %></h1>
  <p><%= t('login_page.choose_login_type') %>:</p>
  <div class="button-container">
    <%= link_to t('login_page.student'), new_student_session_path, class: "btn btn-large btn-primary" %>
    <%= link_to t('login_page.teacher'), new_teacher_session_path, class: "btn btn-large btn-secondary" %>
  </div>
</div>
</body>
</html>
