<div class="register-page">
  <h1>Welcome to the Register Page</h1>
  <p>Please choose your register type:</p>
  <div class="button-container">
    <%= link_to "I am a Student", new_student_registration_path, class: "btn btn-large btn-primary" %>
    <%= link_to "I am a Teacher", new_teacher_registration_path, class: "btn btn-large btn-secondary" %>
  </div>
</div>
