<div class="register-page">
  <h1><%= t('register_page.welcome') %></h1>
  <p><%= t('register_page.choose_register_type') %>:</p>
  <div class="button-container">
    <%= link_to t('register_page.student'), new_student_registration_path, class: "btn btn-large btn-primary" %>
    <%= link_to t('register_page.teacher'), new_teacher_registration_path, class: "btn btn-large btn-secondary" %>
  </div>
</div>

